.partner-container {
  background-color: rgb(137, 105, 226);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.partner-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -200px;
}

.partner-container > p {
  margin-top: 100px;
  padding-left: 60px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 960px) {
  .partner-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .partner-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .partner-container > p {
    font-size: 30px;
  }
}
